<div class="col-md-4 offset-md-4 mt-5">
    <form #addLoanApplication='ngForm' (ngSubmit)='makeNewLoan(addLoanApplication)'>
        <div class="card-header bg-info">
            <h4 style="text-align: center;">Loan Application Form</h4>
        </div>
        <div class="card-body bg-light">
            <p>All the fields with <span style="color:red;">*</span> are mandatory</p>
            <!-- <div class="form-group">
                <input type="number" hidden name="loan_id">
                <label for="applicantName">Full Name <span style="color: red;">*</span></label>
                <input type="text" name="applicantName" id="fullName" class="form-control" 
                required #applicantName='ngModel' ngModel placeholder="enter full name" required pattern="[A-Z a-z]*">
                <div *ngIf='applicantName.invalid && applicantName.touched'>
                    <div class="alert alert-danger" *ngIf='applicantName.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                    <div class="alert alert-danger" *ngIf='applicantName.errors.pattern'>
                        <small>name can have only letters</small>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <label for="age">Age <span style="color: red;">*</span></label>
                <input #age='ngModel' ngModel type="text" name="age" id="age" min="18" max="65"
                class="form-control" required placeholder="enter age" pattern="^0*(1[89]|[2-6][0-9]|70)$">
                <div *ngIf='age.invalid && age.touched'>
                    <div class="alert alert-danger" *ngIf='age.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                    <div class="alert alert-danger" *ngIf='age.errors.pattern'>
                        <small>must be between 18 and 70</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="occupation">Occupation<span style="color: red;">*</span></label>
                <input type="text" name="occupation" id="occupation" class="form-control" 
                #occupation='ngModel' ngModel required placeholder="enter occupation"
                 pattern="[A-Z a-z]*">
                <div *ngIf='occupation.invalid && occupation.touched'>
                    <div class="alert alert-danger" *ngIf='occupation.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                    <div class="alert alert-danger" *ngIf='occupation.errors.pattern'>
                        <small>Occupation can't have numbers</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="salary">Salary<span style="color: red;">*</span></label>
                <input type="double" name="salary" id="salary" class="form-control" 
                required placeholder="Enter Salary" #salary='ngModel' ngModel pattern="^[0-9]+(\.[0-9]{1,2})?$">
                <div *ngIf='salary.invalid && salary.touched'>
                    <div class="alert alert-danger" *ngIf='salary.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                    <div class="alert alert-danger" *ngIf='salary.errors.pattern'>
                        <small>Invalid salary</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="loanAmount">Loan Amount<span style="color: red;">*</span></label>
                <input type="number" name="loanAmount" id="loanAmount" class="form-control"
                required placeholder="Enter Loan Amount" #loanAmount='ngModel' ngModel pattern="^[0-9]+(\.[0-9]{1,2})?$">
                <div *ngIf='loanAmount.invalid && loanAmount.touched'>
                    <div class="alert alert-danger" *ngIf='loanAmount.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                    <div class="alert alert-danger" *ngIf='loanAmount.errors.pattern'>
                        <small>Invalid Loan Amount</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="loanType">Choose a loan<span style="color:red;">*</span></label>
                <select class="form-control" name="loanType" id="loanType" #loanType='ngModel' ngModel required>
                    <option selected disabled value="">Select Loan</option>
                    <option *ngFor='let loan of loans'>{{loan}}</option>
                </select>
                <div *ngIf='loanType.touched && loanType.invalid'>
                    <div class="alert alert-danger" *ngIf='loanType.errors.required'>
                        <small>This field is mandatory</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-info">
            <button class="btn btn-outline-white">
                Reset
            </button>
            <button  class="btn btn-outline-white float-right">
                Apply
            </button>
            
        </div>
    </form>
</div>