<div class="col-md-4 offset-md-4 mt-5">
    <form #addLoanForm='ngForm' (ngSubmit)='updateProgram(addLoanForm)'>
        <div class="card-header bg-info">
            <h4 style="text-align: center">Add Loan</h4>
        </div>
        <div class="card-body bg-light">
            <div class="form-group">
                <input #loanId='ngModel' ngModel type="hidden" name="loanId" class="form-control" id=""
                required pattern="[A-Z a-z]*" [(ngModel)]='programToUpdate.loanId'>
                <label for="loanType">Loan Type<span style="color:red;">*</span></label>
                <input #loanType='ngModel' ngModel type="text" name="loanType" class="form-control" id=""
                required pattern="[A-Z a-z]{3-20}" [(ngModel)]='programToUpdate.loanType'>
                <div *ngIf='loanType.invalid && loanType.touched'>
                    <div class="alert alert-danger" *ngIf='loanType.errors.pattern'>
                        <small>can't have digits</small>
                    </div>    
                    <div class="alert alert-danger" *ngIf='loanType.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="interestRate">Interest Rate<span style="color:red;">*</span></label>
                <input #interestRate='ngModel' ngModel type="text" name="interestRate" class="form-control" id="rate"
                required pattern="^0*([6-9]|1[0-9]|20)$" [(ngModel)]='programToUpdate.interestRate'>
                <div *ngIf='interestRate.invalid && interestRate.touched'>
                    <div class="alert alert-danger" *ngIf='interestRate.errors.pattern'>
                        <small>enter rate between 6-20</small>
                    </div>    
                    <div class="alert alert-danger" *ngIf='interestRate.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="validAge">Age Range<span style="color:red;">*</span></label>
                <input #validAge='ngModel' ngModel type="text" name="validAge" class="form-control" id="age"
                required pattern="^0*(1[89]|2[0-4])-0*([4-6][0-9]|70)$" [(ngModel)]='programToUpdate.validAge'>
                <div *ngIf='validAge.invalid && validAge.touched'>
                    <div class="alert alert-danger" *ngIf='validAge.errors.pattern'>
                        <small>Age range sould be 18-70</small>
                    </div>    
                    <div class="alert alert-danger" *ngIf='validAge.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="maxTenurePeriod">Maximum Tenure Period<span style="color:red;">*</span></label>
                <input #maxTenurePeriod='ngModel' ngModel type="text" name="maxTenurePeriod" class="form-control" id="age"
                required pattern="^0*([1-9]|[12][0-9]|30)$" [(ngModel)]='programToUpdate.maxTenurePeriod'>
                <div *ngIf='maxTenurePeriod.invalid && maxTenurePeriod.touched'>
                    <div class="alert alert-danger" *ngIf='maxTenurePeriod.errors.pattern'>
                        <small>enter value between 1-30</small>
                    </div>    
                    <div class="alert alert-danger" *ngIf='maxTenurePeriod.errors.required'>
                        <small>this field is mandatory</small>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right">Edit Loan</button>
            </div>
        </div>
    </form>
</div>